<section>
  <div class="cover">
    <div class="container text-center">
      <div class="content col-12">
        <h2
          class="display-4 pb-3"
          style="font-family: 'Roboto+Condensed', sans-serif;"
        >
          Building Survey Uganda
        </h2>
        <p class="px-4" style="font-family: 'Roboto+Condensed', sans-serif;">
          Building Survey Uganda was founded in January 2016 and offers
          real-estate development, building, survey and valuation services. The
          company is located on Plot 881, Musajja Alumbwa Road in Kampala
          Uganda.
        </p>
      </div>
    </div>
  </div>
</section>
